{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/publication.css"> 
{% endblock %}

{% block title %}{% endblock %}
    
{% block body %}
    <div class="container p-5" style="background-color:white">
        <h1 class="">{{ article.titreArticle }}</h1>
        <hr>
        <div class="row">
         
            <div class="col-10">               
                <div class="row">
                    <div class="col-12">
                        {# <div class="row"> #}
                            {# <div class="col-md-4 px-0 " > #}
                                <div id="custCarousel" class="carousel slide pr-3" data-ride="false" >                           
                    {# Caroussel #}
                                    <div class="carousel-inner d-flex" style="height:20em;" >
                                        {% for image in article.images %}
                                            {% if loop.index0 == 0 %}
                                                 <div class="carousel-item active my-auto"> <img src="{{ vich_uploader_asset(image, 'imageFile')}}" class="my-auto" alt="Hills" style="cursor: zoom-in;position: relative; margin-top: auto; margin-bottom: auto; width: 100%;" onclick="window.open(this.src,'_blank','toolbar=0, location=0, directories=0, status=0, scrollbars=0, resizable=0, copyhistory=0, menuBar=0, width='+screen.width+', height='+screen.height);"> </div>
                                            {% else %}
                                                <div class="carousel-item my-auto"> <img src="{{ vich_uploader_asset(image, 'imageFile')}}" alt="Hills" style="cursor: zoom-in;width:100%;height:auto;" onclick="window.open(this.src,'_blank','toolbar=0, location=0, directories=0, status=0, scrollbars=0, resizable=0, copyhistory=0, menuBar=0, width='+screen.width+', height='+screen.height);"> </div>
                                            {% endif %}
                                        {% endfor %}
                                        {% if article.video == true %}
                                        <div class="carousel-item ">
                                            <div class="embed-responsive embed-responsive-4by3 my-auto">
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{article.video|slice(17)}}" onclick="window.open(this.src,'_blank','toolbar=0, location=0, directories=0, status=0, scrollbars=0, resizable=0, copyhistory=0, menuBar=0, width='+screen.width+', height='+screen.height);"></iframe>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div> 
                                     <a class="carousel-control-prev" href="#custCarousel" data-slide="prev">
                                        <span class="carousel-control-prev-icon"></span>
                                    </a>
                                    <a class="carousel-control-next" href="#custCarousel" data-slide="next">
                                        <span class="carousel-control-next-icon"></span>
                                    </a>
                                    <ol class="carousel-indicators list-inline mt-0 pb-4">
                                        {% set i = 0 %}
                                        {% for image in article.images %}
                                            {% if loop.index == 0 %}
                                                <li class="list-inline-item active"> <a id="carousel-selector-{{loop.index0}}" class="selected" data-slide-to={{loop.index0}} data-target="#custCarousel"> <img src=" {{vich_uploader_asset(image, 'imageFile')}}" class="img-fluid" style="width:90%;"> </a> </li>
                                            {% else %}
                                                <li class="list-inline-item"> <a id="carousel-selector-{{loop.index0}}" data-slide-to={{loop.index0}} data-target="#custCarousel"> <img src="{{ vich_uploader_asset(image, 'imageFile')}}" class="img-fluid" style="width:90%;"> </a> </li>
                                            {% endif %}
                                            
                                            {% set i = loop.index0 %}
                                        {% endfor %}
                                        {% if article.video == true %}
                                                <li class="list-inline-item">                                     
                                                    <a id="carousel-selector-{{i + 1}}" data-slide-to={{i + 1}} data-target="#custCarousel"><img src="/img\play-button.svg"></img></a> 
                                                </li>
                                        {% endif %}
                                    </ol>
                                   
                                </div>
                            {# </div> #}
                        {# </div> #}
                    

                    {# Article intro + accroche + contenu #}
                    
                        <p class="text-justify mb-1">{{ article.intro|raw }}</p>
                        <h4 style="color:black" class="text-center mb-2 mt-2 ">"{{ article.accroche|raw }}"</h4>
                    </div>
                
                {% if (app.user) and (app.user.compte == 'valider') %}   
                    <p class="text-justify mt-4">{{ article.contenuArticle|raw }}</p>
                </div> 
                {% else %}

                                    {# <div class="mb-1">
                                        <article class="pb-0">
                                            <p class="text-justify" style="background:-webkit-linear-gradient(#eee, #333); -webkit-text-fill-color: transparent;" >{{ article.contenuArticle|slice(0,200)|raw }}</p> 
                                        </article> 
                                    </div> #}
                                    
                                    <div class="d-flex flex-column mt-0 mb-3 p-3 col-6 mx-auto" style="border:solid 1px black;">
                                        <a class="mx-auto text-center"><u>Pour lire la suite de cet article </u></a>
                                        <a class="mx-auto text-center"><strong>Un abonnement est nécéssaire</strong></a>
                                        <div class="d-flex buttonFooter m-3 ">
                                            <a  class="mx-auto btn text-center" href="{{path('abonnements_index')}}" >Consulter nos offres</a></br>
                                        </div>
                                        <a class="mx-auto text-center">Vous êtes déjà abonné ?</a>
                                        <a class="mx-auto text-center" href="{{path("app_login")}}"><strong>Connectez-vous</strong></a>
                                    </div>
                </div>                     
                {% endif %}

                {# Article like + vue + bouton commentaire + favoris #}

                <div class="row mt-5">
                    <div class="col"> 
                            <i class="far fa-eye" style="color:#008000;font-size:25px" ></i><a id="counter" class="pl-2"></a><a class=""> fois</a>
                            {# {% if app.user and article.isLikedByUser(app.user) %}
                                <i class="fa fa-thumbs-up" aria-hidden="true" style="color:green"></i>
                            {% else %} #}
                                <i class="fa fa-thumbs-up ml-2" aria-hidden="true" style="color:#4169E1;font-size:25px"></i>
                            {# {% endif %} #}

                            <span id="js-likes"  class="js-likes pl-2">{{article.likers | length}}</span>
                            <span class="js-label">fois</span>
                            {# <span class="react-like" data-items="{{article.likers|length|json_encode}}"></span> #}
                    </div>
                </div>    
                
            </div>  
      
            <div class="col-2 text-center" >
                <div style="overflow:hidden;">
                    {% if article.author.filename %}
                        <img class="pb-1 mt-2 mx-auto d-block" src="{{ vich_uploader_asset(article.author,'imageFile') }}" alt="image d'illustration" style="width: 90%;">
                    {% else %}
                        <img class="pb-1 mt-2 mx-auto d-block" src="{{ '/images/users/avatarVide.jpg' }}" alt="image d'illustration" style="width: 100%; display: block;">
                    {% endif %}
                </div>   
                <a href="" style="color:red;text-decoration:none">{{ article.author.firstname }} {{ article.author.lastname }}</a>
                <p style="font-size:0.7em;color:grey;margin-bottom:0px" class="mt-2">Publié le {{ article.createdAt|date('d/m/Y') }} à {{ article.createdAt|date('h:m') }}</p>
                {% if article.pole != NULL %}
                <p style="font-size:0.7em;color:grey">Pôle : {{article.pole.nomPole}}</p> 
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/build/vendors~app.js"></script>
    <script src="/build/runtime.js"></script>
    <script src="/build/app.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function myFunction(imgs) {
            // Get the expanded image
            var expandImg = document.getElementById("expandedImg");
            // Get the image text
            var imgText = document.getElementById("imgtext");
            // Use the same src in the expanded image as the image being clicked on from the grid
            expandImg.src = imgs.src;
            // Use the value of the alt attribute of the clickable image as text inside the expanded image
            imgText.innerHTML = imgs.alt;
            // Show the container element (hidden with CSS)
            expandImg.parentElement.style.display = "block";
        }
        function onClickBtnLike(event){
            event.preventDefault();

            const url = this.href;
            const spanCount = document.getElementById('js-likes');
            const icone = this.querySelector('.fa-thumbs-up');

            axios.get(url).then(function(response){
                spanCount.textContent = response.data.likes;

                if(icone.classList.contains('fas')){
                    icone.classList.replace('fas', 'far');
                }else{
                    icone.classList.replace('far', 'fas');
                }
            }).catch(function(error){
                if(error.response.status === 403) {
                    window.alert("Vous ne pouvez pas liker un Post si vous n'êtes pas connecté !")
                }else{
                    window.alert('Une erreur s\'est produite, reessayer plus tard')
                }
            });
        }
        
        document.querySelectorAll('a.js-like').forEach(function(link){
            link.addEventListener('click', onClickBtnLike);
        })

        const counter = document.getElementById("counter");

        const updateCounter = async () => {
            const data = await fetch('https://api.countapi.xyz/hit/compteur-boomerang/{{article.id}}A')
            const count = await data.json()
            counter.innerHTML = count.value
            counter.style.filter = 'blur(0)'
        };
        updateCounter();

        function handleDeleteButtons(){
            $('button[data-action="delete"]').click(function(){
                const target = this.dataset.target;
                $(target).remove();
            });
            }
</script>
           
    
{% endblock %}