
<div class="container backgroundContainerNewPub pt-5">
    <div class="d-flex">
        <img src="{{ asset('/img/logoGBnoir.png') }}" alt="generationBoomerang logo" class="logoHeader pt-1 pb-3 mx-auto">
    </div>
    <h3 class="text-center" style="font-style: italic;">Formulaire annonce vis ma vie</h3>
        <div class="d-flex">
            <div class="mx-auto">

                {{form_start(form,{'attr': {'class':'px-5'}})}}
                <hr>

                <div class="d-flex flex-row">
                    <div class="pr-5 pb-2">
                        {{form_row(form.nomEntreprise, {'label':'Nom de l\'entreprise','attr': {'placeholder': 'Veuillez entrer le nom de l\'entreprise', 'class':"form-control"}})}}
                    </div>
                    <div class="">    
                        {{form_row(form.villeEntreprise, {'label':'Ville où se trouve l\'entreprise','attr': {'placeholder': 'Veuillez entrer la ville', 'class':" form-control"}})}}
                    </div>
                </div>
                

                <h4 class="text-center"style="font-style: italic;">Métier</h4>
                 <hr>
                {# ----------  FONCTION  -------------- #} 
            <h5 class="text-left font-italic">MÉTIER CONCERNÉ</h5>           
            <label for="">Choisir un métier</label> 
                        
            <a  data-toggle="collapse" href="#collapseMetier" role="button" aria-expanded="false" aria-controls="collapseMetier"><i class="far fa-caret-square-down" style="color:black;"></i></a> 
            <div class="collapse" id="collapseMetier">
                    <div class="accordion" id="accordionExample">
                        {% for fonctionMetier in fonctionMetiers %} 
                            {% set dataTarget = '#datos' ~ fonctionMetier.id %}
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target={{dataTarget}} aria-expanded="true" aria-controls="collapseOne">
                                            {{fonctionMetier.nomFonction}}
                                        </button>
                                    </h2>
                                </div>
                                {% set ID = 'datos' ~ fonctionMetier.id %}
                                <div id={{ID}} class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="accordion" id="accordion">
                                            {% for metier in fonctionMetier.metier  %}
                                                <div class="card">
                                                    <div class="card-header" id="headingTwo">
                                                        <h6 class="mb-0">
                                                            {% set idCheck3 = 'grid' ~ metier.id %}
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id={{idCheck3}} name="formationValue3" data-toggle="collapse" value="" data-target="#collapseMetier">
                                                                <label class="form-check-label" for={{idCheck3}}>{{metier.nomMetier}}</label>
                                                            </div>             
                                                        </h6>
                                                    </div>    
                                                </div>    
                                            {% endfor %}  
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        {% endfor %}    
                    </div>
            </div>
            <input class="form-control" name="formationValue3" value="" type="text "id="formationValue3">
{# Titre de l'annonce #}
                <hr>
                <div class="form-group my-3">    
                    {{form_row(form.TitreAnnonce, {'label':'Titre de l\'annonce','attr': {'placeholder': 'Le poste que vous proposer','rows' : '10','class':"col-6 form-control"}})}}
                </div>
                <div class="form-group my-3">    
                    {{form_row(form.description, {'label':'Description de l\'annonce','attr': {'placeholder': 'Veuillez décrire l\'experience que vous proposer','rows' : '10','class':"form-control"}})}}
                </div>
                <div class="d-flex flex-row">
                    <div class="pr-5 pb-2">    
                        {{form_row(form.dateDebut, {'label':'Date de début du stage','attr': {'class':"form-control"}})}}
                    </div>
                    <div class="form-group">    
                        {{form_row(form.DateFin, {'label':'Date de fin du stage','attr': {'class':"form-control"}})}}
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-column pl-5 pr-5">
                    <h5 class="text-left font-italic">CONTACT</h5>
                    {# <div class="d-flex flex-row">
                        <div class="pr-5 pb-2">    
                            {{form_row(app.User.firstName, {'label':'Nom de Famille','attr': {'placeholder': 'veuillez entrer votre nom', 'class':"form-control"}})}}
                        </div>
                        <div>    
                            {{form_row(app.User.lastName, {'label':'Prénom','attr': {'placeholder': 'veuillez entrer votre prénom', 'class':"form-control"}})}}
                        </div>
                    </div> #}
                    <div class="">    
                        <div class="form-group my-3">    
                            {{form_row(form.telephone, {'label':'Téléphone','attr': {'placeholder': 'Veuillez saisir votre numéro', 'class':"form-control", 'Size':'30'}})}}
                        </div>
                    </div>     
                            
                </div>
                
                <div class="d-flex justify-content-end my-3 buttonFooter" >
                    <button type="submit" class="btn ">Confirmez votre offre</button>
                </div>
                {{form_end(form)}}

            </div>
        </div>
</div>                    
{% block javascripts %}
    <script>
        {# $(function() {
            $('#chkveg').multiselect({

            includeSelectAllOption: true
        }); #}

        {# $('#btnget').click(function() {
            alert($('#chkveg').val());

            })
        }); #}

        function onClickCheckbox(event)
        {
            test=this.getAttribute('name')
            
            document.getElementById(test).value = this.labels[0].innerText

        }
        function checkboxPromo(event)
        {
            
        }

       document.querySelectorAll('input.form-check-input').forEach(function(link){
            link.addEventListener('click', onClickCheckbox);
        })
    </script>
{% endblock %}


